# Segurança
SECRET_KEY=
DEBUG=True

BASE_URL=

# Hosts permitidos (separados por vírgula)
ALLOWED_HOSTS=

# Banco de Dados PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Observação:
# Em execução normal, PostgreSQL é obrigatório.
# SQLite é usado automaticamente apenas durante testes (manage.py test).
